<% include partials/header.ejs %>
        <h1 id="title">Welcome to Earth!!</h1>

<div class="row">
   <div class="col-lg-4 col-md-4 col-sm-12">
    <img src="/img/earth.webp" height="350px" width="350px" alt="The Solar System" />
    <span class="text-justify"></span>
   </div>
   <div class="col-lg-8 col-md-8 col-sm-12 desc">
     
    <h3>Mother Earth</h3>
    <span>Earth the home planet of the human race is the third closes planet to the
       sun. This planet has one moon and only life that is known for a fact in the
        glaxay as of 2019.
 
    </span>
   </div>
  </div>
        
 <% include partials/footer %>
    