<% include partials/header.ejs %>
        <h1 id="title">Welcome to Venus!!</h1>
            

        
        <p> Venus is the second planet from the sun. This planet has not rings or moons</p>
        <p>Venus is roughly the same size of the earth and one solar day on Venus is</p>
        <p>approximately 117 earth days. Lastly, the surface temperature of Venus can</p>
        <p>can reach up to 471 degress celsius.</p>
        <img src="/img/venus.png" alt="The Solar System" />
        
 <% include partials/footer %>